*.js linguist-language=TypeScript
*.ts linguist-language=TypeScript
*.vue linguist-language=go
*.tpl linguist-language=go
*.html linguist-language=go
*.css linguist-language=go
*.go linguist-language=go
