*.js linguist-language = TypeScript
*.ts linguist-language = TypeScript
*.vue linguist-language = Vue
*.tpl linguist-language = Vue
*.html linguist-language = Vue
*.css linguist-language = Vue
*.go linguist-language = go
